# Exploratory Data Analysis (EDA) and data cleaning notebook #

**Importing libraries and modules**

In [ ]:
# importing external libraries
from pathlib import Path
import os
import pandas as pd
import pickle
import json

# Importing function to load data

# Making sure any changes are instantly added
%load_ext autoreload
%autoreload 2

from Modules.load_data import load_data
from Modules.preprocessing import missing_summary, merge_dfs, dollar_to_int

Please unhash and run the cell below if you have not yet installed the dataset using the kaggle API

In [2]:
#load_data()

– Describe your data (e.g. dtypes, descriptive statistics)
– What is the distribution of the target variable?
– Do we face missing values / outliers?
– How do specific features correlate with the target variable?
– What features can we use for the specific prediction task?

– Describe your data (e.g. dtypes, descriptive statistics)
– What is the distribution of the target variable?
– Do we face missing values / outliers?
– How do specific features correlate with the target variable?
– What features can we use for the specific prediction task?

In [2]:
# Obtaining absolute path to data folder
data_folder = str(Path(os.getcwd()) / "data")

# Obtaining absolute paths to relevant datasets

cards_data = data_folder + "/cards_data.csv"
transaction_data = data_folder + "/transactions_data.csv"

In [3]:
# Reading datasets into pandas
cards_data_df = pd.read_csv(cards_data)
transaction_data_df = pd.read_csv(transaction_data)

**Pre-processing steps for transaction data**

 * `date` column to be decomposed into seperate month, data, time columns if there is correlation between time of day, day of week etc. and fraduluent transactions
 * `merchant_id` represents the business where transaction was made. Likely too many clients to use as categorical variable. Possible do mean-encoding.
 * `card_id`. May be possible to somehow represent if cardholder has been flagged for fradulent transaction before
 * `client_id` similar type of encoding as for merchant id.
 * `merchant_city` and `merchant_state` likely one-hot encoding.
 * `zip`, perhaps any predictability is covered in the other location variables. Check for correlation and then drop.
 * `mcc` represents the type of merchant. Possible one hot encoding or mean encoding.
 * `errors`. Over 98% missing. Look for correlations then maybe drop.
 * Any columns with $ values are object type. Remove $ sign and change to int.

In [ ]:
# Merging cards and transactions df and saving to pickle
# Unhash if this is the first time running the code

#merge_dfs(transaction_data_df=transaction_data_df, cards_data_df=cards_data_df,data_folder=data_folder)

In [ ]:
# Loading the data from pickle

merged_df = pd.read_pickle(data_folder + "/merged_data.pkl")

In [ ]:
# Running info to see column types
merged_df.info()

"""As we can see a lot of columns that should be numerical are objects as they have dollar signs"""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8914963 entries, 0 to 8914962
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   date                   object
 1   client_id              int64
 2   card_id                int64
 3   amount                 object
 4   use_chip               object
 5   merchant_id            int64
 6   merchant_city          object
 7   merchant_state         object
 8   zip                    float64
 9   mcc                    int64
 10  errors                 object
 11  card_brand             object
 12  card_type              object
 13  card_number            int64
 14  expires                object
 15  cvv                    int64
 16  has_chip               object
 17  num_cards_issued       int64
 18  credit_limit           object
 19  acct_open_date         object
 20  year_pin_last_changed  int64
 21  card_on_dark_web       object
 22  id                     int64
 23  target                 object
dtypes: float64(1), int64(9), object(14)
memory usage: 1.6+ GB

In [15]:
# Running the dollar_to_int function
dollar_to_int(merged_df)

In [ ]:
# Running .info() again
merged_df.info()

""" 
'amount' and 'credit limit' now changed to int types
"""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8914963 entries, 0 to 8914962
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   date                   object
 1   client_id              int64
 2   card_id                int64
 3   amount                 int64
 4   use_chip               object
 5   merchant_id            int64
 6   merchant_city          object
 7   merchant_state         object
 8   zip                    float64
 9   mcc                    int64
 10  errors                 object
 11  card_brand             object
 12  card_type              object
 13  card_number            int64
 14  expires                object
 15  cvv                    int64
 16  has_chip               object
 17  num_cards_issued       int64
 18  credit_limit           int64
 19  acct_open_date         object
 20  year_pin_last_changed  int64
 21  card_on_dark_web       object
 22  id                     int64
 23  target                 object
dtypes: float64(1), int64(11), object(12)
memory usage: 1.6+ GB

In [17]:
# Running describe
merged_df.describe()

,client_id,card_id,amount,merchant_id,zip,mcc,card_number,cvv,num_cards_issued,credit_limit,year_pin_last_changed,id
count,8.914963e+06,8.914963e+06,8.914963e+06,8.914963e+06,7.807586e+06,8.914963e+06,8.914963e+06,8.914963e+06,8.914963e+06,8.914963e+06,8.914963e+06,8.914963e+06
mean,1.026637e+03,3.474887e+03,4.252761e+01,4.772566e+04,5.132855e+04,5.565097e+03,4.817349e+15,4.953292e+02,1.522064e+00,1.554959e+04,2.011340e+03,1.558473e+07
std,5.816755e+02,1.674427e+03,8.151282e+01,2.581623e+04,2.940518e+04,8.755078e+02,1.311465e+15,2.885735e+02,5.151711e-01,1.218199e+04,2.894518e+00,4.703991e+06
min,0.000000e+00,0.000000e+00,-5.000000e+02,1.000000e+00,1.001000e+03,1.711000e+03,3.001055e+14,0.000000e+00,1.000000e+00,0.000000e+00,2.002000e+03,7.475327e+06
25%,5.190000e+02,2.413000e+03,8.000000e+00,2.588700e+04,2.860100e+04,5.300000e+03,4.489873e+15,2.470000e+02,1.000000e+00,8.100000e+03,2.010000e+03,1.150786e+07
50%,1.070000e+03,3.584000e+03,2.800000e+01,4.592600e+04,4.771000e+04,5.499000e+03,5.112842e+15,4.990000e+02,2.000000e+00,1.345500e+04,2.011000e+03,1.557140e+07
75%,1.530000e+03,4.899000e+03,6.300000e+01,6.757000e+04,7.790100e+04,5.812000e+03,5.566696e+15,7.400000e+02,2.000000e+00,2.083900e+04,2.013000e+03,1.965387e+07
max,1.998000e+03,6.138000e+03,6.613000e+03,1.003420e+05,9.992800e+04,9.402000e+03,6.994218e+15,9.990000e+02,3.000000e+00,1.413910e+05,2.020000e+03,2.376187e+07

In [ ]:
# Running missing summary
missing_summary(merged_df)

"""
A lot of missing values for `errors` column 
"""

                       Missing Values  Percentage missing (%)
date                                0                0.000000
client_id                           0                0.000000
card_id                             0                0.000000
amount                              0                0.000000
use_chip                            0                0.000000
merchant_id                         0                0.000000
merchant_city                       0                0.000000
merchant_state                1047865               11.754003
zip                           1107377               12.421555
mcc                                 0                0.000000
errors                        8773196               98.409786
card_brand                          0                0.000000
card_type                           0                0.000000
card_number                         0                0.000000
expires                             0                0.000000
cvv                                 0                0.000000
has_chip                            0                0.000000
num_cards_issued                    0                0.000000
credit_limit                        0                0.000000
acct_open_date                      0                0.000000
year_pin_last_changed               0                0.000000
card_on_dark_web                    0                0.000000
id                                  0                0.000000
target                              0                0.000000

In [ ]:
merged_df["errors"][merged_df["errors"].notna()]
'''
A missing value likely to mean there was no transaction error
'''

161              Bad Expiration
180             Bad Card Number
262        Insufficient Balance
319        Insufficient Balance
320        Insufficient Balance
                   ...
8914572    Insufficient Balance
8914610    Insufficient Balance
8914635    Insufficient Balance
8914782                 Bad PIN
8914898    Insufficient Balance
Name: errors, Length: 141767, dtype: object